
<mat-toolbar >
  <i class="fa-solid fa-hands-praying "  style="color:#fff" ></i>

  <span>  &nbsp; People Blood Bank </span>
    <span class="example-spacer"></span>
<div class="button">
    <button type="button" class="btn btn-outline-light me-4" [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="bi bi-lock
      "></span> Login</button>

    <button type="button" class="btn btn-outline-light" [routerLink]="['/register']" routerLinkActive="router-link-active" ><span class="bi bi-person"></span>Register</button>
  </div>
  </mat-toolbar>
