
<!DOCTYPE html>
<html>
<head>
  <title>Blood Request Form</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .message {
      margin-top: 20px;
      font-size: 24px;
    }


  </style>
</head>
<body class="container-fluid">

    <div>
        <img src="assets/thanks.svg">
    </div>


    <p style="font-weight: bolder; font-size:xx-large;"> Thanks for submitting!</p>
  <div class="message">

    <p> Your request id is your registered e-mail.</p>
    <p> "Don't worry, our dedicated team is committed to providing the required blood for your requested details. Stay Strong ."</p>


  </div>

<br>
<br>
  <button type="button" class="gradient" routerLink="/home">  Go home </button>

</body>
</html>
